.table_head{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
  .name{
    width: 20%;
  }
  .domen{
    width: 20%;
  }
  .dayusers{
    width: 20%;
  }
  .totalusers{
    width: 20%;
  }
  .status{
    width: 20%;
  }


}

