.table_head{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: calc(100% - 20px);
  .name{
    width: 20%;
  }
  .domen{
    width: 20%;
  }
  .dayusers{
    width: 20%;
  }
  .totalusers{
    width: 20%;
  }
  .status{
    width: 20%;
  }


}



.loading_counter{
  height: 47px;
  background: #f7f7f7;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: block;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 2s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  }
}

@keyframes loading {
  from{left: -20%}
  to{left:100%}
}

.list{
  min-height: 245px;
}

.noCounters{
  background: #f7f7f7;
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img{
    width: 60px;
    opacity: .6;
    margin-right: 20px;
  }
}