
.signup_container{
  height: calc(100vh - 11px);

  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_block{
  width: 440px;
  background: white;
  padding-top: 35px;
  padding-bottom: 45px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  border: 1px solid rgba(0,0,0,0.4);
  position: relative;
}


.fetching_block{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

@media screen and (max-width: 480px){
  .signup_block{
    width: 100%;
    box-shadow: none;
    border: none;
  }
}