.confirm_block{
  width: 360px;
  height: 360px;
  margin: auto;
  display: block;
  background: white;
}

.fetching_block{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

.block{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    width: 60px;
    margin-bottom: 20px;
  }
  p{
    text-align: center;
  }
}

