.profile_form_wr{
  width: 300px;
  margin: auto;
  padding-top: 20px;
}
.profile_form{
  width: 100%;
  margin-top: 10px;

  .button{
    width: 111px;
    padding: 10px;
    margin-top: 60px;
    float: right;
  }
  a{
    color: #2673ff;
    text-decoration: underline;
  }
}



.email{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  background: #e4e4e4;
  border-bottom: 1px solid #d2d2d2;
  p{
    text-align: center;
    font-size: 13px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px){
  .profile_form_wr{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}