.signup_form{
  width: 300px;
  margin: auto;
  display: block;
}

.h1{
  font-size: 25px;
  color: #404040;
  font-weight: 500;
}

.signup_form .button{
  width: 110px;
  margin-top: 60px;
  float: right;
}

.dont_reg_yet {
  font-size: 13px;
  text-align: left;
  padding-top: 0px;
  a {
    color: #2673ff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: #666;
    }
  }
}






