.profile_cont{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
.photo_col{
  width: 200px;
}
.info_col{
  width: calc(100% - 200px);
}


.info_inputs{
  max-width: 400px;
  padding-left: 20px;
  input[type='text'] {
    width: 100%;
    display: block;
  }
  textarea{
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 650px){
  .profile_cont {
  flex-direction: column;
    align-items: center;
  }
  .info_inputs{
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
  }

  .info_col{
    width: 100%;
    padding-top: 50px;
  }

}