.profile_cont{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
.photo_col{
  width: 200px;
}
.info_col{
  width: calc(100% - 200px);
}


.info_inputs{
  max-width: 400px;
  padding-left: 20px;
  input[type='text'] {
    width: 100%;
    display: block;
  }
  textarea{
    width: 100%;
    display: block;
  }
}
