.line{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  height: 63px;
  transition: .25s all;
  &:hover{
    height: 100px;
  }
}


.names_row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  width: calc(30% - 100px);
  p{
    margin-left: 10px;
  }
}

.company{
  width: calc(30% - 110px);
}

.description{
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .description_p{
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background: linear-gradient(transparent 30%, #f7f7f7 70%);
    position: absolute;
    bottom: 0px;
  }
}

.load_more{
  width: 250px;
  display: block;
  margin: 15px auto 50px;
  cursor: pointer;
}

h2{
  margin-bottom: 10px;
}



.loading_profile{
  height: 63px;
  background: #f7f7f7;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: block;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 2s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  }
}

@keyframes loading {
  from{left: -20%}
  to{left:100%}
}