.tablehead{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}

.user_alias{
  width: 15%;
}
.user_country{
  width: 25%;
}

.user_time {
  width: 15%;
}

.user_date{
  width: 25%;
}

.user_revenue{
  width: 20%;
}

.loadmore_button{
  width: 200px;
  margin: auto;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.loading_shortuser{
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 8px;
  height: 70px;
  display: block;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: block;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 2s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  }
}
@keyframes loading {
  from{left: -20%}
  to{left:100%}
}