.addcounter_button{
  display: block;
  width: 200px;
  text-align: center;
  margin: auto;
}

.addcounter_form{
  width: 400px;
  input[type='text']{
    display: block;
    width: calc(100% - 16px);
    border: 1px solid gray;
    padding: 10px 7px 10px 7px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

}

.form_fetching{
  width: 400px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    animation: loading infinite 1.5s;
    width: 30px;
  }
  @keyframes loading {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
  }
}

.codeTextarea{
  width: 100%;
  height: 200px;
  max-height: 200px;
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
  border: none;
  resize: none;
  outline: none;
  background: #1e1e1e;
  color: white
}

.codeBlock{
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
}

.copyButton_wr{
  position: relative;
}

.copied_label{
  background: white;
}

.copied_label{
  background: white;
  width: 109px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 4px;
  position: absolute;
  right: -119px;
  top: 5px;
  font-size: 14px;
}

.copyButton_wr{
  position: relative;
  width: 200px;
}

.last_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  button{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
}