.addcounter_button{
  display: block;
  width: 200px;
  text-align: center;
  margin: auto;
}

.addcounter_form{
  width: 400px;
  input[type='text']{
    display: block;
    width: calc(100% - 16px);
    border: 1px solid gray;
    padding: 10px 7px 10px 7px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

}
