.addcounter_button{
  display: block;
  width: 200px;
  text-align: center;
  margin: auto;
}

.addcounter_form{
  width: 400px;
}

.form_fetching{
  width: 400px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    animation: loading infinite 1.5s;
    width: 30px;
  }
  @keyframes loading {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
  }
}

.text{
  padding-right: 12px;
}

.last_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  button{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 860px){
  .addcounter_form{
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px){
  .row{
    flex-direction: column;
    :global(.col-6){
      width: 100%;
    }
  }
  .text{
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .last_text button {
    margin-top:20px;
  }
}