.table_head{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 11px 10px 11px 10px;
  width: 100%;
  background: #f6f5f3;
  border-top: 1px solid #efefef;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
  p{
    font-size: 16px;
    font-weight: 600;
  }

  .name{
    width: 20%;
  }
  .domen{
    width: 20%;
  }
  .dayusers{
    width: 20%;
  }
  .totalusers{
    width: 20%;
  }
  .owner{
    width: 20%;
  }


}

.list{
  margin-bottom: 20px;
}


.list_head{
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  margin-bottom: 7px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.loading_counter{
  height: 47px;
  background: #f7f7f7;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: block;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 2s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  }
}

@keyframes loading {
  from{left: -20%}
  to{left:100%}
}



.noCounters{
  background: #f7f7f7;
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img{
    width: 60px;
    opacity: .6;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1200px){
  .table_head{
    p{
      font-size: 13px;
    }
    .dayusers{
      width: 18%;
    }
    .totalusers{
      width: 18%;
    }
    .name{
      width: 18%;
    }
    .owner{
      width: 15%;
    }
    .domen{
      width: 31%;
    }
  }

}

@media screen and (max-width: 1100px){
  .table_head {
    .owner {
      display: none;
    }

    .dayusers {
      width: 20%;
    }

    .totalusers {
      width: 20%;
    }

    .name {
      width: 20%;
    }

    .domen {
      width: 40%;
    }
  }
}

@media screen and (max-width: 800px){
  .table_head {


    .totalusers {
      width: 100px;
    }

    .dayusers {
      width: 100px;
    }
    .name{
      width: 150px;
    }
    .domen{
      width: calc(100% - 350px);
    }

  }
}

@media screen and (max-width: 500px) {
  .table_head {
    .domen {
      display: none;
    }

    .totalusers {
      width: 100px;
    }

    .dayusers {
      width: 100px;
    }

    .name {
      width: calc(100% - 200px);

    }
  }
}