.withedit_current{
  min-height: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ececec;
  cursor: pointer;
  transition: .25s all;

  &:hover{
    border-bottom: 2px solid #cacaca;
  }

}

.withedit_block{
  min-height: 50px;
  position: relative;
  .plain_input{
    font-size: 16px;
  }
  .plain_textarea{
    font-size: 16px;
  }
}

.loading_bar{
  width: 100%;
  height: 10px;
  display: block;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: none;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 1s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 110, 185, 1) 100%);
  }
  &.active:after{
    display: block;
  }

  @keyframes loading {
    from{left: -20%}
    to{left:100%}
  }
}



.done_check{
  position: absolute;
  width: 20px;
  right: 0px;
  top: 5px;
}


.input_wr{
  position: relative;
}

.form_danger{
    width: 100%;
    height: 20px;
    text-align: center;
    color: red;
}

.load_more{
  width: 200px;
  margin: auto;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.all_loaded{
  width: 250px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px auto auto;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #8a9ba8;
  font-size: 15px;
  text-transform: uppercase;
  color: #8a9ba8;
  margin-bottom: 15px;
}

.loading_scheme{
  display: block;
  width: 100%;
  background: white;
}





.input_wr{
  position: relative;
  height: 76px;
  &.editInput{
    height: auto;
  }
  input{
    width: 100%;
    border: 1px solid rgb(96, 94, 92);
    height: 32px;
    padding: 0px 8px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    &.danger{
      border: 1px solid #d80000;
    }
    &:focus{
      border: 2px solid rgb(0,120, 212);
      width: 100%;
      padding-left: 7px;
    }
  }
  .placeholder{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(50, 49, 48);
  }
  .input_danger{
    font-size: 12px;
    color: #d80000;
    margin-top: 5px;
    display: block;
  }
  &.danger{
    .input_danger{
      display: block;
    }
  }

}

.textarea_wr{
  position: relative;
  padding-bottom: 22px;
  textarea{
    font-family: inherit;
    font-size: 14px;
    border: 1px solid white;
    box-shadow: 0px 0px 0px 1px #605e5c;
    width: calc(100% - 18px);
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    font-weight: 400;
    margin: auto;
    display: block;
    padding: 6px 8px;
    outline: none;
    resize: none;
    &.danger{
      box-shadow: 0px 0px 0px 1px #d80000;
    }

    &:focus{
      border: 1px solid rgb(0,120, 212);
      box-shadow: 0px 0px 0px 1px rgb(0,120, 212);

    }


  }
  .placeholder{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(50, 49, 48);

  }
  .input_danger{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    color: #d80000;
    display: block;
  }
}



.password_strength{
  position: absolute;
  bottom: 21px;
  left: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  animation: smoothappearance 0.5s;
  div{

    width: 125px;
    height: 6px;
    display: block;
  }
  p{
    font-size: 11px;
    letter-spacing: -0.4px;
    background: white;
    width: 120px;
    padding-left: 4px;
    line-height: 10px;
  }
}
@keyframes smoothappearance{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.tooWeak{
  background: red;
}
.weak{
  background: orange;
}
.medium{
  background: #2fafb9;
}
.good{
  background: green;
}

