.withedit_current{
  min-height: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ececec;
  cursor: pointer;
  transition: .25s all;

  &:hover{
    border-bottom: 2px solid #cacaca;
  }

}

.withedit_block{
  min-height: 50px;
  position: relative;
  .plain_input{
    font-size: 16px;
  }
  .plain_textarea{
    font-size: 16px;
  }
}

.loading_bar{
  position: absolute;
  width: 20px;
  right: 0px;
  top: 5px;
  animation: loading 1s infinite;
  @keyframes loading {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
  }
}

.done_check{
  position: absolute;
  width: 20px;
  right: 0px;
  top: 5px;
}


.input_wr{
  position: relative;
}

.form_danger{
    width: 100%;
    height: 20px;
    text-align: center;
    color: red;
}

.load_more{
  width: 200px;
  margin: auto;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.all_loaded{
  width: 250px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px auto auto;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #8a9ba8;
  font-size: 15px;
  text-transform: uppercase;
  color: #8a9ba8;
  margin-bottom: 15px;
}

.loading_scheme{
  display: block;
  width: 100%;
  background: white;
}


.loading_scheme{
  .elem{
    background: #dcdcdc;
    animation: loadingScheme 1s infinite ;
  }
  @keyframes loadingScheme {
    0%{background: #efefef}
    50%{background: #dcdcdc}
    100%{background: #efefef}
  }
  .add_button{
    display: block;
    width: 204px;
    height: 42px;
    margin: 30px auto auto;
  }
  .counters_table_head{
    height: 35px;
    display: block;
    width: calc(100% - 60px);
    margin: 40px auto 10px;
  }
  .list_ul{
    height: 47px;
    display: block;
    width: calc(100% - 60px);
    margin: 8px auto auto;
  }
  .page_buttons{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
  }
  .page_button{
    display: block;
    width: 47px;
    height: 47px;
    margin-right: 6px;
  }

  .text_line{
    height: 40px;
    display: block;
    width: calc(100% - 60px);
    margin: 40px auto 10px;
  }
  .big_ul{
    height: 63px;
    display: block;
    width: calc(100% - 60px);
    margin: 10px auto auto;
  }
  .list{
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  .h2{
    height: 63px;
    margin-bottom: 10px;
    display: block;
    width: 50%;
    margin-left: 30px;
  }
}


.input_wr{
  position: relative;
  height: 76px;
  input{
    width: calc(100% - 18px);
    border: 1px solid rgb(96, 94, 92);
    height: 30px;
    padding: 0px 8px;
    outline: none;
    font-size: 14px;
    &.danger{
      border: 1px solid #d80000;
    }
    &:focus{
      border: 2px solid rgb(0,120, 212);
      width: calc(100% - 19px);
      height: 28px;
      padding-left: 7px;
    }
  }
  .placeholder{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(50, 49, 48);
  }
  .input_danger{
    font-size: 12px;
    color: #d80000;
    margin-top: 5px;
    display: block;
  }
  &.danger{
    .input_danger{
      display: block;
    }

  }

}

.textarea_wr{
  position: relative;
  padding-bottom: 22px;
  textarea{
    font-family: inherit;
    font-size: 14px;
    border: 1px solid white;
    box-shadow: 0px 0px 0px 1px #605e5c;
    width: calc(100% - 18px);
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    font-weight: 400;
    margin: auto;
    display: block;
    padding: 6px 8px;
    outline: none;
    resize: none;
    &.danger{
      box-shadow: 0px 0px 0px 1px #d80000;
    }

    &:focus{
      border: 1px solid rgb(0,120, 212);
      box-shadow: 0px 0px 0px 1px rgb(0,120, 212);

    }


  }
  .placeholder{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(50, 49, 48);

  }
  .input_danger{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    color: #d80000;
    display: block;
  }
}



.password_strength{
  position: absolute;
  bottom: 21px;
  left: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  animation: smoothappearance 0.5s;
  div{

    width: 125px;
    height: 6px;
    display: block;
  }
  p{
    font-size: 11px;
    letter-spacing: -0.4px;
    background: white;
    width: 120px;
    padding-left: 4px;
    line-height: 10px;
  }
}
@keyframes smoothappearance{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.tooWeak{
  background: red;
}
.weak{
  background: orange;
}
.medium{
  background: #2fafb9;
}
.good{
  background: green;
}