.avatar_cont{
  width: 40px;
  height: 40px;
  border: 1px solid #c1c1c1;
  background: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .25s all;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.emptyAvatar{
  width: 20px;
}

.avatar{
width: 100%;
}

.line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  width: 100%;
  height: 63px;
  margin-bottom: 10px;
}

.names_row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  width: calc(50% - 170px);
  p{
    margin-left: 10px;
  }
}

.company{
  width: calc(50% - 270px);
}

.description{
  width: 170px;
  position: relative;
  .description_p{
    padding-top: 18px;
    padding-bottom: 18px;
  }

}

.buttons{
  width: 270px;
  box-sizing: border-box;
  padding-right: 10px;
}


.info_p{
  cursor: pointer;
  width: 117px;
  position: relative;
  margin-left: 24px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  &:before{
    content: '';
    background: url("../../../assets/icons/question.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -25px;
    top: 1px;
  }
}

.description_wr{
  position: relative;
}

.description_block{

  position: absolute;
  bottom: 31px;
  background: white;
  -webkit-box-shadow: 0px 0px 39px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 39px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 39px 0px rgba(34, 60, 80, 0.2);
  width: 320px;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  left: -6px;
  &:after{
    content: '';
    display: block;
    border: 8px solid transparent;
    border-top: 8px solid white;
    position: absolute;
    bottom: -16px;
    left: 7px;
  }
}

.company_line{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
  p{
    margin-left: 10px;
  }
}


@media screen and (max-width: 1250px){
  .description{
    width: 40px;
  }
  .info_p{
    width: 20px;
    font-size: 0px;
    line-height: 20px;
    margin-left: 0px;
    &:before {
    left: 0px;
    }
  }
  .names_row{
    width: calc(50% - 40px);
  }
  .description_block{
    left: auto;
    right: -40px;
    &:after{
      left: auto;
      right: 62px;
    }
  }
}

@media screen and (max-width: 1050px){
  .company{
    display: none;
  }
  .names_row{
    width: calc(100% - 310px);
  }
}


@media screen and (max-width: 650px){
  .line{
    flex-wrap: wrap;
    height: 100px;
  }
  .names_row{
    width: calc(100% - 40px);
  }
  .buttons{
    width: 100%;
  }
  .description_block {
    left: auto;
    right: 10px;
    &:after {
      left: auto;
      right: 12px;
    }
  }
 .buttons{
   padding-right: 0px;
 }
}

@media screen and (max-width: 370px){
  .description_block{
    width: 280px;
  }
}
