
.signup_container{
  height: calc(100vh - 11px);

  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_block{
  width: 440px;
  background: white;
  padding-top: 35px;
  padding-bottom: 45px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  border: 1px solid rgba(0,0,0,0.4);
}

