
*{
 margin: 0px;
  padding: 0px;
}

body{
  min-width: 1100px;
  min-height: 100vh;

}



.container{
  display: block;
  width: calc(100% - 52px);
  overflow: hidden;
  margin: 12px auto auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}



.content{
  width: calc(100% - 320px);
  min-height: calc(100vh - 47px);
  transition: .25s ;
  transition-property: margin-left, width;
  margin-left: 320px;
  &.sidebar_closed{
    width: calc(100% - 47px);
    margin-left: 47px;
  }
}



.dropdown{
  position: relative;

  .dropdown_block{
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 6px gray;
    border-radius: 5px;
    top: 0px;
    overflow: hidden;
  }
  &:hover{
    .dropdown_block{
      display: block;
    }
  }
  &_link{
    display: block;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    color: black;
    cursor: pointer;
    &.active{
      color: white !important;
      background: #00416d !important;
    }

    &:hover{
      background: #e8e8e8;
      color: black;
    }

  }


}

.col-6{
  width: 50%;
}

.attractive-button{
  border: 2px solid #8a9ba8;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  color: #8a9ba8;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 0.2px;
  transition: .25s all;
  background: transparent;
  &:hover{
    color: black;
    border: 2px solid black;
  }
}

.control_button{
  background: #006eb9;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.3px;
  outline: none;
  cursor: pointer;
  display: block;
  transition: .2s all;
  text-align: center;
  text-decoration: none;
  &:hover{
    background: darken(#006eb9, 7);
    box-shadow: 0 4px 5px #dcdcdc;
  }
  &:hover:active{
    background: darken(#006eb9, 15);
    box-shadow: 0 5px 7px darken(#dcdcdc, 8);
  }
}

.plain_input{
  display: block;
  width: calc(100% - 16px);
  border: 1px solid gray;
  padding: 10px 7px 10px 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
  &:focus{
    outline: none;
    border: 1px solid #2fafb9;
    box-shadow: 0px 0px 4px #2fafb9;
  }
}

.plain_textarea{
  display: block;
  width: calc(100% - 16px);
  border: 1px solid gray;
  padding: 10px 7px 10px 7px;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  height: 70px;
  &:focus{
    outline: none;
    border: 1px solid #2fafb9;
    box-shadow: 0px 0px 4px #2fafb9;
  }
}

.pages-buttons{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  span{
    background: rgb(228,228,228);
    background: linear-gradient(
                    180deg
            , #e4e4e4 0%, #c1c1c1 100%);
    border: 1px solid #c5c5c5;
    display: block;
    width: 45px;
    text-align: center;
    height: 45px;
    margin-right: 6px;
    line-height: 45px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    &.current-page{
      background: #006eb9;
      color: white;
    }

  }
}

.labeled-line{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 5px;
  padding-top: 2px;
}

.line-label{
  padding-right: 10px;
  color: #656565;
}

.fluent-line{
  position: relative;

  &:hover{
    background: rgba(241, 241, 241, 0.4);
    .f_topborder, .f_rightborder, .f_bottomborder, .f_leftborder{
      background: #d6d6d6;
    }
  }
  .f_topborder{
    width: 100%;
    display: block;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .f_borderbeam{
      display: block;
      width: 140px;
      height: 1px;
      background: linear-gradient(to left,#d6d6d6, #a6a6a6, #d6d6d6);
      position: absolute;
      margin-left: -70px;
      opacity: 0;
    }
  }
  .f_rightborder{
    width: 1px;
    display: block;
    height: 100%;
    background: #e6e6e6;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .f_bottomborder{
    width: 100%;
    display: block;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    .f_borderbeam{
      display: block;
      width: 140px;
      height: 1px;
      background: linear-gradient(to left,#e6e6e6, #a6a6a6, #e6e6e6);
      position: absolute;
      margin-left: -70px;
      opacity: 0;
    }
  }
  .f_leftborder{
    width: 1px;
    display: block;
    height: 100%;
    background: #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.gotologinblock{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 40px;
    font-weight: 300;
    display: block;
  }
  a{
    margin-top: 20px;
  }


}

h2{
  font-weight: 400;
  font-size: 30px;
}


.col-3{
  width: 25%;
}

.col-4{
  width: 33.3%;
}


.dropdown-menu{
  position: relative;
  &:hover{
    .dropdown-menu-content{
      display: block;
    }
  }
  &-link{
    height: 29px;
    display: block;
    line-height: 27px;
    text-decoration: none;
    background: #eaeaea;
    padding-left: 12px;
    color: black;
    transition: .2s all;
    cursor: pointer;
    &:hover{
      background: #d4d4d4;
    }
  }
  &-content{
    display: block;
  }
  &-content{
    display: none;
    position: absolute;
    z-index: 10;
    top: -37px;
    left: 15px;
    width: 170px;
    background: #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 4px 17px #c1c1c1;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &-dots{
    width: 40px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img{
      width: 20px;
    }
  }

}