
*{
 margin: 0px;
  padding: 0px;
}

body{
  min-height: 100vh;
}

.h1{
  font-weight: 400;
  font-size: 27px;
}

.h1-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: .25s all;
  text-decoration: none;
  &-icon{
    display: flex;
    height: 100%;
    width: 47px;
    justify-content: center;
    align-items: center;
  }
  &-text{
    color: #243a5e;
    text-decoration: none;
  }
  &:hover{
    opacity: .8;
  }
}

.h1-buttons{
  height: 100%;
}

.h1-block{
  padding-top: 9px;
  padding-bottom: 6px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &.container{
    display: flex;
  }
}

.container{
  display: block;
  width: calc(100% - 52px);
  overflow: hidden;
  margin: 11px auto auto;

}

.row {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}



.content{
  width: calc(100% - 320px);
  min-height: 100vh;
  transition: .25s ;
  transition-property: margin-left, width;
  margin-left: 320px;
  box-sizing: border-box;
  &.sidebar_closed{
    width: calc(100% - 47px);
    margin-left: 47px;
  }
}

.fullpage_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 100%;
}


.dropdown{
  position: relative;

  .dropdown_block{
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 6px gray;
    border-radius: 5px;
    top: 0px;
    overflow: hidden;
  }
  &:hover{
    .dropdown_block{
      display: block;
    }
  }
  &_link{
    display: block;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    color: black;
    cursor: pointer;
    &.active{
      color: white !important;
      background: #00416d !important;
    }

    &:hover{
      background: #e8e8e8;
      color: black;
    }

  }


}

.col-6{
  width: 50%;
}





.pages-buttons{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  span{
    background: rgb(228,228,228);
    background: linear-gradient(
                    180deg
            , #e4e4e4 0%, #c1c1c1 100%);
    border: 1px solid #c5c5c5;
    display: block;
    width: 45px;
    text-align: center;
    height: 45px;
    margin-right: 6px;
    line-height: 45px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    &.current-page{
      background: #006eb9;
      color: white;
    }

  }
}

.labeled-line{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 5px;
  padding-top: 2px;
}

.line-label{
  padding-right: 10px;
  color: #656565;
}

.fluent-line{
  position: relative;

  &:hover{
    background: rgba(241, 241, 241, 0.4);
    .f_topborder, .f_rightborder, .f_bottomborder, .f_leftborder{
      background: #d6d6d6;
    }
  }
  .f_topborder{
    width: 100%;
    display: block;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .f_borderbeam{
      display: block;
      width: 140px;
      height: 1px;
      background: linear-gradient(to left,#d6d6d6, #a6a6a6, #d6d6d6);
      position: absolute;
      margin-left: -70px;
      opacity: 0;
    }
  }
  .f_rightborder{
    width: 1px;
    display: block;
    height: 100%;
    background: #e6e6e6;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .f_bottomborder{
    width: 100%;
    display: block;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    .f_borderbeam{
      display: block;
      width: 140px;
      height: 1px;
      background: linear-gradient(to left,#e6e6e6, #a6a6a6, #e6e6e6);
      position: absolute;
      margin-left: -70px;
      opacity: 0;
    }
  }
  .f_leftborder{
    width: 1px;
    display: block;
    height: 100%;
    background: #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.gotologinblock{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 40px;
    font-weight: 300;
    display: block;
  }
  a{
    margin-top: 20px;
  }


}

h2{
  font-weight: 400;
  font-size: 30px;
}


.col-3{
  width: 25%;
}

.col-4{
  width: 33.3%;
}


.dropdown-menu{
  position: relative;
  &:hover{
    .dropdown-menu-content{
      display: block;
    }
  }
  &-link{
    height: 29px;
    display: block;
    line-height: 27px;
    text-decoration: none;
    background: #eaeaea;
    padding-left: 12px;
    color: black;
    transition: .2s all;
    cursor: pointer;
    &:hover{
      background: #d4d4d4;
    }
  }
  &-content{
    display: block;
  }
  &-content{
    display: none;
    position: absolute;
    z-index: 10;
    top: -37px;
    left: 15px;
    width: 170px;
    background: #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 4px 17px #c1c1c1;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &-dots{
    width: 40px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img{
      width: 20px;
    }
  }

}

@media screen and (max-width: 1300px){
  .content {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}

@media screen and (max-width: 992px){
  .content {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 750px){
  .container{
    width: calc(100% - 22px);
  }
}


@media screen and (max-width: 480px){
.fullpage_container{
  align-items: flex-start;
}
}
