.form{
  width: 250px;
  margin: auto;
  display: block;
  input{
    max-width: 100%;
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;

  }
  button{
    width: 100%;
    padding: 10px;

  }

}
