.form{
  width: 300px;
  margin: auto;
  display: block;
  button{
    width: 110px;
    padding: 10px;
    margin-top: 60px;
    float: right;
  }

}

.h1{
  font-size: 25px;
  color: #404040;
  font-weight: 500;
}

.login_block{
  width: 440px;
  background: white;
  padding-top: 35px;
  padding-bottom: 45px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  border: 1px solid rgba(0,0,0,0.4);
}

.form_danger_wr{
  display: block;
  height: 20px;
}

.loading_bar{
  width: 100%;
  height: 10px;
  display: block;
  position: relative;

  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    display: none;
    left: -20%;
    top: 0px;
    bottom: 0px;
    width: 20%;
    animation: loading 1s infinite ;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 110, 185, 1) 100%);
  }
  &.active:after{
    display: block;
  }

@keyframes loading {
  from{left: -20%}
  to{left:100%}
}
}

.false_alert{
  width: 100%;
  display: block;
  height: 20px;
  text-align: center;
  color: red;
}

.dont_reg_yet{
  font-size: 13px;
  text-align: left;
  padding-top: 0px;
  a{
    color: #2673ff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: #666;

    }
  }
}



.form_danger{
  width: 100%;
  height: 20px;
  color: red;
  display: block;
  text-align: center;
}
.success_auth{
  display: block;
  margin: auto;
  width: 250px;
  height: 248px;
  img{
    width: 160px;
    display: block;
    margin: auto;
    margin-top: 80px;
  }
  p{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
  }
}




.login_container{
  height: calc(100vh - 11px);

  display: flex;
  justify-content: center;
  align-items: center;
}
